<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h2020.mhealth4afrika"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <!-- Use network/Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Read Write Memory permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- Send SMS permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Phone state permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Network state permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- LocationAccess permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Google API access permissions -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
    </intent-filter>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.HelpActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/action_help" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/action_settings" />
        <activity
            android:name=".activities.LanguageSettings"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/language" />
        <activity
            android:name=".activities.HealthFacilityActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/health_facilities" />
        <activity
            android:name=".activities.ANVRegistrationActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/anc_visits" />
        <activity
            android:name=".activities.PatientsActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/patients" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/forgot_password" />
        <activity
            android:name=".activities.SetupActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/set_up" />
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/profile" />

    </application>

</manifest>