<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <form class="form">
                        <h2>Capture Previous Pregnancy</h2>
                        <hr />
                        <div class="form-group">
                            <label>Year</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>ANC sessions attended</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Place of Delivery</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Maturity</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Duration of Labour</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Type of Delivery</label>
                            <select>
                                <option>Normal</option>
                                <option>Cesarian Section</option>
                                <option>Vacuum</option>
                                <option>Forceps</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Birth Weight (Kgs)</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Sex</label>
                            <select>
                                <option>Female</option>
                                <option>Male</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Outcome</label>
                            <select>
                                <option>Live Birth (LB)</option>
                                <option>Still Birth (SB)</option>
                                <option>Abortion (AB)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Puerperium</label>
                            <input class="form-control" name="" />
                        </div>
                        <div>
                            <a href="maternal_profile.html" class="btn btn-primary btn-block">
                                Save Pregnancy
                            </a>
                        </div>
                    </form>
                </aside>
            </section>
        </div>
    </body>
</html>