<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/mh4a-static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <form class="form">
                        <h2>Capture Vitals</h2>
                        <hr />
                        <div class="form-group">
                            <label>Urine</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Weight</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>B.P</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>H.b</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Pallor</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Maturity</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Fundal Height</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Presentation</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Lie</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Foetal Heart</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Foetal Movement</label>
                            <input class="form-control" name="" />
                        </div>
                        <div>
                            <a href="maternal_profile.html" class="btn btn-primary btn-block">
                                Save Profile
                            </a>
                        </div>
                    </form>
                </aside>
            </section>
        </div>
    </body>
</html>