<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <form class="form">
                        <h2>Create ANC Profile</h2>
                        <hr />
                        <div class="form-group">
                            <label>Blood Group</label>
                            <select>
                                <option>A</option>
                                <option>AB</option>
                                <option>B</option>
                                <option>O</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rhesus</label>
                            <select>
                            	<option>---</option>
                                <option>(-) Negative</option>
                                <option>(+) Positive</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Serology (VDRL/RPR)</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>TB</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Urinalysis</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>HIV</label>
                            <select>
                                <option>Not Tested</option>
                                <option>Reactive</option>
                                <option>Non-Reactive</option>
                            </select>
                        </div>
                        <div>
                            <a href="maternal_profile.html" class="btn btn-primary btn-block">
                                Save Profile
                            </a>
                        </div>
                    </form>
                </aside>
            </section>
        </div>
    </body>
</html>