<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/mh4a-static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <ul class="sidemenu__menu">
                        <li role="presentation" class="sidemenu__menu__item">
                            <a href="first_visit.html">
                                <div class="icon">
                                    1
                                </div>
                                <div class="text">
                                    FIRST VISIT <i class="fa fa-check-circle"></i>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="sidemenu__menu__item">
                            <a href="second_visit.html">
                                <div class="icon">
                                    2
                                </div>
                                <div class="text">
                                    SECOND VISIT (due: 2 days)
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="sidemenu__menu__item action">
                            <a href="add-another.html">
                                <div class="icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="text">
                                    ADD ANOTHER
                                </div>
                            </a>
                        </li>
                    </ul>
                </aside>
            </section>
        </div>
    </body>
</html>