<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/mh4a-static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu full">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <ul class="sidemenu__menu">
                        <li role="presentation" class="sidemenu__menu__item">
                            <a href="register.html">
                                <div class="icon">
                                    <i class="fa fa-plus" style="margin-right:-7.5px;margin-top:-15.5px;font-size:50%"></i>
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="text">
                                    REGISTER PATIENT
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="sidemenu__menu__item">
                            <a href="search.html">
                                <div class="icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="text">
                                    SEARCH PATIENT
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="sidemenu__menu__item">
                            <a href="follow_up.html">
                                <div class="icon">
                                    <i class="fa fa-calendar"></i>
                                    <span class="badge">4</span>
                                </div>
                                <div class="text">
                                    FOLLOW-UP VISIT
                                </div>
                            </a>
                        </li>
                    </ul>
                </aside>
            </section>
        </div>
    </body>
</html>