<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <div class="profile">
                        <h3 class="name">
                            Johansen Kimani
                        </h3>
                        <hr>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>Age:</b>
                                </div>
                                <div class="col-xs-9">
                                    35
                                </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>Height:</b>
                                </div>
                                <div class="col-xs-9">
                                    5'7"
                                </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>LMP</b>
                                </div>
                                <div class="col-xs-9">
                                    13/4/2016
                                </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>Marital Status:</b>
                                </div>
                                <div class="col-xs-9">
                                    Maried
                                </div>
                            </div>
                          </li>
                        </ul>
                        <hr>
                        <h3>
                            Pregnancies
                        </h3>
                        <div class="pull-right" style="margin-top: -30px;">
                            <a class="btn btn-success btn-sm" href="add_pregnancy.html">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div>
                        <hr>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>#1</b>
                                </div>
                                <div class="col-xs-5">
                                    Aborted
                                </div>
                                <div class="col-xs-4">
                                    20/2/2004
                                </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>#2</b>
                                </div>
                                <div class="col-xs-5">
                                    Live Birth
                                </div>
                                <div class="col-xs-4">
                                    20/2/2013
                                </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3">
                                    <b>#3</b>
                                </div>
                                <div class="col-xs-5">
                                    Live Birth
                                </div>
                                <div class="col-xs-4">
                                    2/7/2016
                                </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </aside>
            </section>
        </div>
    </body>
</html>