<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/mh4a-static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <aside class="sidemenu followup">
                    <div class="user-name">
                        IMPILO - Health in my Hands
                    </div>
                    <form class="form">
                        <h2>Create Maternal Profile</h2>
                        <hr />
                        <div class="form-group">
                            <label>Name of Client</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>LMP</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Marital Status</label>
                            <select>
                                <option>Single</option>
                                <option>Married</option>
                                <option>Widowed</option>
                                <option>Divorced</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Next of Kin</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Relationship</label>
                            <select>
                                <option>Partner</option>
                                <option>Brother</option>
                                <option>Sister</option>
                                <option>Parent/Guardian</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mobile Phone</label>
                            <input class="form-control" name="" />
                        </div>
                        <div class="form-group">
                            <label>Occupation</label>
                            <input class="form-control" name="" />
                        </div>
                        <div>
                            <a href="maternal_profile.html" class="btn btn-primary btn-block">
                                Save Profile
                            </a>
                        </div>
                    </form>
                </aside>
            </section>
        </div>
    </body>
</html>