body {
    font-family: 'Lato', sans-serif;
}

.sidemenu{
    width: 0%;
    float: left;
    padding-top: 5px;
    background-color: #f9f9f9;
    height: 100%;
}

.sidemenu.full, .sidemenu.followup{
    width: 100%;
}

.sidemenu.followup .sidemenu__menu li{
    height: 180px;
    padding: 48.5px;
    font-size: 35px !important;
}

.sidemenu.full .user-name{
    font-weight: 900px;
}

.sidemenu.full .sidemenu__menu li{
    height: 160px;
}

.sidemenu .sidemenu__menu {
    list-style: none;
    padding-left: 0;
    background-color: #fff;
}

.sidemenu .sidemenu__menu li{
    text-align: center;
    height: 120px;
    padding: 44.5px;
    border-bottom: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;

    background-image: linear-gradient(-180deg, #FAFAFA 0%, #efefef 100%);
}

.sidemenu__menu__item.action{
    background-image: linear-gradient(-180deg, #C5F3FF 0%, #93E2FF 100%);
}

.sidemenu .sidemenu__menu li.sidemenu__menu__item a {
    text-decoration: none;
    color: #696969;
}

.sidemenu__menu__item.active a{
    color: #2984D3 !important;
}

.sidemenu .sidemenu__menu li.sidemenu__menu__item--active, li.sidemenu__menu__item, a {

}

.sidemenu .sidemenu__menu li.sidemenu__menu__item:hover a{
    color: #2984D3 !important;
};


.sidemenu .sidemenu__menu li.sidemenu__menu__item:hover a .icon .fa{
}

.sidemenu .sidemenu__menu li.sidemenu__menu__item:hover a .text {
}

.sidemenu .sidemenu__menu li.sidemenu__menu__item a .icon {
    font-size: 30px;
    margin-bottom: 5px;
}

main.main{
    width: 85%;
    height: 100%;
    float: left;
}

.main.full{
    width: 100%;
}

.main .navbar{
    border: none;
    border-bottom: 1px solid #f9f9f9;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    color: #000;
    font-weight: 600;
}

.navbar-nav>li>a {
    color: #000;
}

.main .navbar .navbar-form{
    width: 45%;
    margin-left: 5%;
}

.main .navbar .navbar-form .form-group {
    width: 100%;
}

.main .navbar .navbar-form .form-group .form-control{
    width: 100%;
}

.main__content{
    padding: 30px;
}

.navbar-nav .main-menu{
    font-weight: 600;
    text-decoration: underline;
    color: red;
}


.main__content.full{
    padding: 0;
}

.main__content .backdrop{
    padding: 20% 10%;
    background-image: url('../mh4a-static/img/home-backdrop.jpeg');
    background-size: cover;
}

.main__content .backdrop h1{
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-shadow: 2px 2px #000000;
}

.main__content .backdrop h2{
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}

.main__content h3 {
    margin-top: 0;
}

.table__holder{
    padding: 15px 0 30px;
}

.table__holder .table{
    font-size: 13px;
}

.table__filter{
    background-color: #f9f9f9;
    padding: 12.5px 12.5px 0px;
    border: 1px solid #ddd;
}

.main__tabs {
    margin-top: 20px;
}

.form-control:focus {
    border-color: #101010;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-holder {
    padding: 25px;
}

.user-name{
    font-size: 20px;
    text-align: center;
    padding: 40px 20px;
    background-color: #b5e031;
}

.badge{
    background-color: #b5e031;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.fa-check-circle{
    color: green;
}

.followup .text{
    font-size: 20px;
}

.sidemenu .form{
    padding: 10% 15%;
}

.profile{
    padding: 5% 15%;
}

.profile .name{
    font-weight: 30px;
    font-size: 25px;
}