<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="app">
            <section class="app__content">
                <main class="main full">
                    <nav class="navbar main__nav">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <a class="navbar-brand" href="#">mHealth 4 Afrika</a>
                            </div>

                            <!-- Collect tde nav links, forms, and otder content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Search Patient">
                                </div>
                              </form>
                              <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                  <a class="main-menu" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Main Menu <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                        <a href="patients.html">
                                            Patients
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="chows.html">
                                            HEALTHCARE PROFESSIONALS
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="clinics.html">
                                            Clinics
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="follow-up-visits.html">
                                            Follow-up Visits
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="reports.html">
                                            Reports
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">
                                            Data Imports
                                        </a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                              <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Logged On: <b>Nomonde Khosa</b> <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user-md"></i> Profile
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out"></i> Logout
                                        </a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="main__content full">
                        <div class="backdrop">
                            <h1>IMPILO</h1>
                            <h2>Health in My Hands</h2>
                        </div>
                    </div>
                </main>
            </section>
        </div>
    </body>
</html>